<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>

     <form  method="POST" action="/team">
         <label>Team Name:</label>
         <input type="text" name="name">

         <button type="submit" value="Submit">Submit</button>
     </form>

 </body>
</html>
