<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>

     <form action="/team" method="POST">
         <label for="POST-name">Team Name:</label>
         <input id="POST-name" type="text" name="name">
     </form>
     
 </body>
</html>


